* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
      url(holiday-finder-2018.avif);
    background-size: cover;
    font-family: sans-serif;
  }
  nav {
    margin: 0px 0px 72px 23px;
    padding: 17px 0px 0px 0px;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  .logo {
    font-size: 2em;
    letter-spacing: 2px;
  }
  .menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
  }
  .menu a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transition: 0.4s linear;
  }
  .menu a:hover:before {
    border-bottom: 2px solid indianred;
    width: 90%;
  }
  .auth a {
    text-decoration: none;
    color: white;
    padding: 7px 5px;
    font-size: 20px;
    background: #e7247a;
    border-radius: 8px;
    transition: 0.4s;
  }
  .auth a:hover {
    background: transparent;
    border: 1px solid indianred;
  }
  .cont {
    max-width: 650px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: white;
  }
  .cont span {
    font-size: 26px;
    font-weight: 700;
  }
  .why {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .loc {
    color: black;
    font-size: 12px;
    font-weight: 390;
    margin: 10px;
    background: white;
    border: 2px solid white;
    padding: 21px 20px 15px 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .line {
    height: 7px;
    background-color: black;
    opacity: .85;
  }
  .loc img {
    margin-left: 10px;
  }
  .dropdown {
    display: none;
    position: absolute;
    background-color: transparent;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
  }
  .dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown a:hover {
    background-color: #ddd;
  }
  .loc:focus-within .dropdown {
    display: block;
  }
  .cont h1 {
    margin: 30px 20px 55px 23px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .cont a {
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 10px;
    letter-spacing: 5px;
    transition: 0.4s;
  }
  .cont a:hover {
    background: transparent;
    border: 1px solid indianred;
  }
  footer {
    background-color: #222; 
    color: white;
    max-width: 100%; 
    margin: auto;
    padding: 14px;
  }
  footer .question {
    padding: 34px 0;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
  }
  .footer a {
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin: 10px;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
  }